.App {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  background-image: url('./images/Home.png');
  background-position: 100vh;
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

               