.App {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
  background-image: url('./images/Home.png');
  background-position: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; 
  overflow: hidden;
}

#AppHeader {
  height: 40px;
  background-color: #FF7AAA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#gigiImg {
  margin-top: -5px;
  height: 45px;
  width: auto;
  margin-right: 8px; /* Spacing between image and text */
}

#heyGigi {
  color: white;
  font-size: 26px;
  margin-left: 10px; /* Small space between image and text */
  white-space: nowrap;
  width: auto;
}

#headerLeft {
  display: flex;
  align-items: center;
}

#AppFooter {
  height: 30px;
  background-color: #FFC8DD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#buttonsImg{
  padding-right: 20px;
}


button{
  border-style:outset;
  background-color: #FFE7F0;
  border-color: #FF9AC0;
  border-top-color: #ffc8dd;
  border-left-color: #ffc8dd;
  font-family: 'Pixelify Sans', sans-serif;
}
button:active{
  background-color: #ff9cc0;
  color: white;
}

#sidebar {
  background-color: pink;
  height: 100%;
  width: 14vw;
  border-right: 3px solid #d89eb7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  border: 1.5px solid black;
  border-top: 0px;
  border-left: 0px;
  box-shadow: 5px 0 0 rgba(0, 0, 0, 0.3);
  position: relative; 
  bottom: 0;
  left: 0;  
  padding-top: 20px;
  margin-top: 40px;
  z-index: 1000;
}