
.Chatroom {
    position: fixed; 
    width: 70vw;
    height: 35vw;
    top: 50%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
